<h1>Technology Blogs</h1>

<div *ngIf="!blogInfo.ErrorMEssage">
    <button (click)="addBlog()" mat-raised-button color="primary">Add Blogs</button>
    
    <mat-card *ngIf="!blogInfo.blogList.length">
        <h1>No Blog found</h1>
    </mat-card>

    <mat-card *ngFor=" let item of blogInfo.blogList">
        <mat-card-header>
            <h1>{{item.title}}</h1>
            <div>
                <button mat-raised-button color="primary" (click)="editBlog(item.id)">edit</button>
                <button mat-raised-button color="primary" (click)="removeBlog(item.id)">Delete</button>
            </div>
        </mat-card-header>
        <mat-card-content>
            <p>{{item.description}}</p>
        </mat-card-content>
    </mat-card>
</div>


<mat-card *ngIf="blogInfo.ErrorMEssage">
    <mat-card-header>
        <h1>Error Occured</h1>
    </mat-card-header>
    <mat-card-content>
        <p style="color: red;">{{blogInfo.ErrorMEssage}}</p>
    </mat-card-content>
</mat-card>